@model IEnumerable<blogSitesi.Models.Makale>

@{
    ViewBag.Title = "ara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aradığınız İçeriği İçeren Makaleler</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.kategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uye.kullaniciAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makaleOkunma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.kategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uye.kullaniciAd)
        </td>
        <td>
            <a href="/Home/MakaleDetay/@item.makaleId">@Html.DisplayFor(modelItem => item.makaleBaslik)</a> 
        </td>
        <td>
            <img class="img-rounded img-responsive" width="75" src="@item.makaleFoto" alt="@item.makaleBaslik" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleOkunma)
        </td>
    </tr>
}

</table>
