@model blogSitesi.Models.Makale
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="alert alert-primary">
    <h2>Makale Detay</h2>
</div>

<div style="margin-left:15px;">
    <dl class="dl-horizontal" style="font-size:25px;">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori.kategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.kategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.kullaniciAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.kullaniciAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makaleBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.makaleBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makaleIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.makaleIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makaleFoto)
        </dt>

        <dd>
            <img src="@Model.makaleFoto" width="75" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makaleTarih)
        </dt>

        <dd>
            @*@Html.TextBoxFor(model => model.makaleTarih, "{0: dd.MM.yyyy}")*@
            @Html.DisplayFor(model => model.makaleTarih, "{0: dd.MM.yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.makaleOkunma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.makaleOkunma)
        </dd>

    </dl>
</div>
<p style="margin-left:15px;">
    @Html.ActionLink("Güncelle Sayfasına Git", "Edit", new { id = Model.makaleId }, new { @class = "btn btn-primary" }) |
    <a class="btn btn-primary" style="color:white" href="/Makale/Index">Geri Dön</a>
</p>


