@using PagedList
@using PagedList.Mvc
@model IPagedList<blogSitesi.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="alert alert-primary">
    <h2>Makaleler</h2>
</div>

<table class="table table-striped">
    <tr style="background-color:#4C71DE; color:#FFFFFF">
        <th>
            @Html.Label("Kategori Ad")
        </th>
        <th>
            @Html.Label("Başlık")
        </th>
        <th>
            @Html.Label("Fotoğraf")
        </th>
        <th>
            @Html.Label("Tarih")
        </th>
        <th>
            @Html.Label("Okunma Sayısı")
        </th>
        <th>
            @Html.Label("İşlemler")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.kategoriAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.makaleBaslik)
            </td>
            <td>
                <img width="75" src="@item.makaleFoto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.makaleTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.makaleOkunma)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.makaleId }, new { @class = "fas fa-edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.makaleId }, new { @class = "fas fa-info-circle" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.makaleId }, new { @class = "fas fa-trash-alt" })
            </td>
        </tr>
    }

</table>
<p>
    <a class="btn btn-primary" style="color:white" href="/Makale/Create">Makale Ekle</a>
</p>

<div class="row text-center" style="margin-left:700px;">
    <div class="text-center">
        <div class="pagedList pagination">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
</div>

