@model blogSitesi.Models.Mesaj
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="alert alert-primary">
    <h2>Yeni Mesaj Yaz</h2>
</div>

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Alıcı Mail</label>
        @Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Alici, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top:15px">
        <label>Konu</label>
        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Konu, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top:15px">
        <label>Mesaj</label>
        @Html.TextAreaFor(x => x.Icerik, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Icerik, "", new { @class = "text-danger" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-primary" id="btn1">Gönder</button>
    </div>
</form>

